<header class="bg-dark border-bottom header-height">
    <div class="container d-flex flex-wrap align-content-center justify-content-between p-3 ">
        <a class="text-white my-auto text-decoration-none">Angular</a>
        <div class="d-flex flex-wrap align-content-center justify-content-around ">
            <a class="text-white text-decoration-none my-auto mx-3" routerLink="/">Home</a>
            <button class="btn btn-outline-light mx-3" routerLink="/login" routerLinkActive="btn-outline-secondary">Login</button>
            <button class="btn btn-primary mx-3" routerLink="/register">Sign up</button>
        </div>
    </div>
</header>
